.main {
	width: 600px;
	margin: 0 auto;
	max-width: 100%;
	padding: 10px;
}

.main p {
	font-size: 20px;
}

.donate-button {
	text-align: center;
	margin: 0 auto;
	padding: 40px 0;
}
.donate-button span {
	font-size: 12px;
}